.item_variable,
.item_symbol,
.item_default {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 10px;
}

.item_symbol {
  font-weight: bold;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.item_variable {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.item_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
